# Ignore node_modules, Python virtualenvs, compiled files, OS files, etc.

# Node.js
node_modules/

# Python
__pycache__/
*.py[cod]
*.pyo
env/
venv/
ENV/
*.egg-info/

# Java / Maven / Gradle
*.class
target/
build/
*.jar
*.war
*.ear
.gradle/
out/

# Android
*.apk
*.ap_

# C/C++
*.o
*.a
*.so
*.dll
*.exe

# Logs
*.log

# IDEs and Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Other
dist/
lib/
libs/
tmp/
.cache/
*.swp
*.bak
*.old
*.orig
*.tmp

